h1.banner__title {
    display: none;
} 
.banner__subtitle {
    display: none;
} 
body > div.banner.banner--has-subnav > div > div:nth-child(3) > p {
  display:none;
}
#branch-search-form > p {
  display:none;
}
a.button.branch-finder-load-current-location {
    display: none;
} 
.banner.banner--has-subnav {
    height: unset !important;
}
body > section.section.section--sub-nav-large {
    display: block !important;
}
.box.box--white {
    display: none;
}
img.banner__image {
    display: none;
} 
.banner__content {
    width: 100% !important;
    max-width: unset !important;
    margin: 0 auto;
    position: absolute;
    top: unset !important;
    left: unset !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: none !important;
    text-align: center;
    z-index: 2;
    position: relative;
    background: #F6F6F6 !important;
    padding-top: 120px;
    margin: auto !important;
}
body {
    background: #F6F6F6;
}
.map__actions__wrapper {
    background: transparent;
}
.map__toggle.u-hide--mobile {
    display: none;
}
.grid__col--fixed-66 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}
p.content-card__cta {
    display: block;
    width: 100%;
    background: #5e7334;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: white;
  	position:relative;
} 
p.content-card__suptitle {
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    padding: 5px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
  	-webkit-box-shadow: rgba(0,0,0,.25) 0 0.625rem 0.625rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,.25);
}
section.section.section--sub-nav-large {
    padding-top: 0px;
}
a.content-card:hover {
    top: unset !important;
    -webkit-box-shadow: rgba(0,0,0,.25) 0 0.625rem 0.625rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,.25);
}
ul.map__results {
    max-height: 540px;
    overflow: scroll;
}
#map > div > div.map__list.u-show > section > div > div > div > div.grid__col.grid__col--fixed-66 > p {
    font-weight: 500;
    color: #7A0037;
}
.map__results-title:after {
  display:none !important;
}
.content-card__cta > i.icon-right-arrow {
    display: none;
} 
a.content-card:hover .content-card__cta i {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}
.content-card__cta > i.icon-right-chevron {
    position: absolute;
    right: 25px;
    top: 13px;
    font-weight: bold;
}
